{{#if page.attributes.show_logout}}
<div class="navbar-item hide-for-print">
  <span class="control">
    <a class="button is-primary" id="logout-btn" >Log out</a>
  </span>
</div>
<script>
  document.getElementById('logout-btn').addEventListener('click', function() {
    document.cookie = 'access_token=; max-age=0; path=/; secure; samesite=strict'
    const returnTo = {{site.keys.zendeskHcUrl}}
    window.location.href = `https://{{site.keys.auth0Domain}}/v2/logout?returnTo=${encodeURIComponent(returnTo)}&client_id={{site.keys.auth0Client}}`
  })
</script>
{{/if}}
