<div id="results">
  <div class="content">
    <div class="filters component"></div>
    <div class="filters version"></div>
    <div class="summary"></div>
    <div class="list"></div>
  </div>
</div>
