{{#with page.versions}}
{{#each this}}
{{#if (eq ./version @root.page.attributes.version) }}
{{#if (eq ./version @root.page.component.latest.version) }}
{{!-- log "Versions are equal! " ./url --}}
{{!-- Do not show anything if the vurrent version is the latest. --}}
{{else}}
{{!-- log ./version " !==" @root.page.component.latest.version  " : " ./url --}}
<div class="old-version">
  This is an older version of the documentation.
  Go to the <a href="{{@root.page.component.latest.url}}">current version</a>.
</div>
{{/if}}
{{/if}}
{{/each}}
{{/with}}
