.api {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  color: var(--color-black);
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: var(--border-radius);
  padding: 0.1em 0.25em;
}

.api.get {
  color: var(--api-get-font-color);
  background-color: var(--api-get-color-bg);
  border-color: var(--api-get-color);
}

.api.post {
  color: var(--api-post-font-color);
  background-color: var(--api-post-color-bg);
  border-color: var(--api-post-color);
}

.api.put {
  color: var(--api-put-font-color);
  background-color: var(--api-put-color-bg);
  border-color: var(--api-put-color);
}

.api.delete {
  color: var(--api-delete-font-color);
  background-color: var(--api-delete-color-bg);
  border-color: var(--api-delete-color);
}

.endpoint {
  font-style: normal;
  font-weight: normal;
}

.download {
  float: right;
}
