.cards {
  background-color: var(--sidebar-background);
  border-radius: var(--border-radius-large);
}

.doc .cards > .content {
  padding: 0 1rem 1rem;
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  column-gap: 1rem;
}

.doc .sidebarblock.card {
  display: flex;
  background-color: var(--color-white);
  width: 33%;
  flex-grow: 1;
  border-radius: var(--border-radius);
  margin-top: 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.15s ease;
}

.doc .sidebarblock.card > .content {
  position: relative;
}

.doc .sidebarblock.card.hasIcon > .content {
  padding-left: 4rem;
}

.doc .sidebarblock.card > .content > .ulist {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.doc .sidebarblock.card .imageblock.icon,
.doc .sidebarblock.card .image.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
}

.doc .sidebarblock.card .image.icon {
  top: 0.5rem;
}

.doc .sidebarblock.card .imageblock.icon > .content,
.doc .sidebarblock.card .image.icon > .content {
  margin: 0 auto;
}

.doc .sidebarblock.card .imageblock.icon img,
.doc .sidebarblock.card .image.icon img {
  height: 3rem;
  display: inline-block;
}

.doc .sidebarblock.card.wide {
  width: 100%;
}

.doc .sidebarblock.card:hover {
  scale: 1.03;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.doc .sidebarblock.card > .content > .link {
  display: none;
}

.doc .sidebarblock.card > .content > .link.show {
  display: block;
}

@media screen and (max-width: 768px),
  screen and (min-width: 1024px) and (max-width: 1120px) {
  .doc .sidebarblock.card {
    width: 100%;
  }
}

.cards.flex {
  background-color: inherit;
}

.cards.flex,
.cards.flex .sidebarblock,
.cards.flex .content {
  padding: 0;
}

.flex .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media all and (min-width: 768px) {
  .cards.flex.flex-4 .sidebarblock.card { width: 23%; }
  .cards.flex.flex-3 .sidebarblock.card { width: 32%; }
  .cards.flex.flex-2 .sidebarblock.card { width: 48%; }
}

@media all and (max-width: 767px) {
  .cards.flex.flex-2 .sidebarblock.card,
  .cards.flex.flex-3 .sidebarblock.card,
  .cards.flex.flex-4 .sidebarblock.card {
    width: 100%;
  }

  .cards.flex.flex-2 .sidebarblock.card:last-child,
  .cards.flex.flex-3 .sidebarblock.card:last-child,
  .cards.flex.flex-4 .sidebarblock.card:last-child {
    margin-bottom: 0;
  }
}

.cards.flex .content {
  column-gap: 0;
}

.cards.flex .sidebarblock.card {
  flex-grow: 0;
  hyphens: none;
}

.cards.flex .sidebarblock.card .content {
  display: block;
  width: 100%;
}

.cards.flex .sidebarblock.card .title {
  color: var(--color-white);
  font-style: normal;
  font-size: calc(16 / var(--rem-base) * 1rem);
  text-align: left;
  line-height: 1.5;
  background-color: gray;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  padding: 0.75rem 1.5rem;
  width: 100%;
  display: block;
}

.cards.flex .sidebarblock.card .title a {
  color: var(--color-white);
}

.cards.flex.products .sidebarblock.card.eattorney .title {
  background-color: var(--color-jti-eattorney);
}

.cards.flex.products .sidebarblock.card.ecourt .title {
  background-color: var(--color-jti-ecourt);
}

.cards.flex.products .sidebarblock.card.edefender .title {
  background-color: var(--color-jti-edefender);
}

.cards.flex.products .sidebarblock.card.eprosecutor .title {
  background-color: var(--color-jti-eprosecutor);
}

.cards.flex.products .sidebarblock.card.esupervision .title {
  background-color: var(--color-jti-esupervision);
}

.cards.flex .sidebarblock.card.user .title {
  background-color: var(--color-jti-user);
}

.cards.flex .sidebarblock.card.business .title {
  background-color: var(--color-jti-business);
}

.cards.flex .sidebarblock.card.admin .title {
  background-color: var(--color-jti-admin);
}

.cards.flex .sidebarblock.card .paragraph {
  padding: 0.75rem 1.5rem;
}
