.doc .ulist.issue > ul {
  list-style: none;
}

.doc .ulist.issue > ul > li {
  position: relative;
}

.doc .ulist.issue > ul > li::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: -3ch;
  height: 2ch;
  width: 2ch;
  background-size: contain;
  background-repeat: no-repeat;
}

.doc .ulist.issue > ul > li > p:first-child {
  display: none;
}

.doc .ulist.issue.new li::before {
  background-image: url(../img/issue-new.svg);
}

.doc .ulist.issue.task li::before {
  background-image: url(../img/issue-task.svg);
}

.doc .ulist.issue.bug li::before {
  background-image: url(../img/issue-bug.svg);
}

.doc .ulist.issue.defect li::before {
  background-image: url(../img/issue-defect.svg);
}

.doc .ulist.issue.cosmetic li::before {
  background-image: url(../img/issue-cosmetic.svg);
}

.doc .ulist.issue.techdebt li::before {
  background-image: url(../img/issue-techdebt.svg);
}
