.doc .ulist.issue ul {
  list-style: none;
}

.doc .ulist.issue li > p:first-child::before {
  content: ' ';
  display: inline-block;
  height: 2ch;
  width: 2ch;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1ch;
  margin-left: -3ch;
  vertical-align: bottom;
}

.doc .ulist.issue.new li > p:first-child::before {
  background-image: url(../img/issue-new.svg);
}

.doc .ulist.issue.task li > p:first-child::before {
  background-image: url(../img/issue-task.svg);
}

.doc .ulist.issue.bug li > p:first-child::before {
  background-image: url(../img/issue-bug.svg);
}

.doc .ulist.issue.cosmetic li > p:first-child::before {
  background-image: url(../img/issue-cosmetic.svg);
}
