.doc table.tableblock {
  font-size: calc(16 / var(--rem-base) * 1rem);
}

.doc .tablecontainer,
.doc .tablecontainer + *,
.doc :not(.tablecontainer) > table.tableblock,
.doc :not(.tablecontainer) > table.tableblock + * {
  margin-top: 1.5rem;
}

.doc p.tableblock + p.tableblock {
  margin-top: 0.5rem;
}

.doc td.tableblock > .content > :first-child {
  margin-top: 0;
}

.doc table.tableblock th,
.doc table.tableblock td {
  padding: 0.5rem 1rem;
}

.doc table.tableblock th:first-child,
.doc table.tableblock td:not(.icon):first-child {
  padding-left: 1rem;
}

.doc table.tableblock th:last-child,
.doc table.tableblock td:last-child {
  padding-right: 0;
}

.doc table.tableblock th {
  font-size: var(--table-header-font-size);
  text-transform: uppercase;
}

.doc table.tableblock,
.doc table.tableblock > * > tr > * {
  border-bottom: 0 solid var(--table-border-color);
}

.doc table.grid-all > * > tr > * {
  border-width: 1px;
}

.doc table.grid-cols > * > tr > * {
  border-width: 0 1px;
}

.doc table.grid-rows > * > tr > * {
  border-width: 1px 0;
}

.doc table.frame-all {
  border-width: 1px;
}

.doc table.frame-ends {
  border-width: 1px 0;
}

.doc table.frame-sides {
  border-width: 0 1px;
}

.doc table.frame-none > colgroup + * > :first-child > *,
.doc table.frame-sides > colgroup + * > :first-child > * {
  border-top-width: 0;
}

/* NOTE let the grid win in case of frame-none */
.doc table.frame-sides > :last-child > :last-child > * {
  border-bottom-width: 0;
}

.doc table.frame-none > * > tr > :first-child,
.doc table.frame-ends > * > tr > :first-child {
  border-left-width: 0;
}

.doc table.frame-none > * > tr > :last-child,
.doc table.frame-ends > * > tr > :last-child {
  border-right-width: 0;
}

.doc table.stripes-all > tbody > tr,
.doc table.stripes-odd > tbody > tr:nth-of-type(odd),
.doc table.stripes-even > tbody > tr:nth-of-type(even) {
  background: var(--table-stripe-background);
}

.doc table.stripes-hover > tbody > tr:hover {
  color: var(--table-stripe-hover-color);
  background: var(--table-stripe-hover-background);
}

.doc table.tableblock > tfoot {
  background: var(--table-footer-background);
}

.doc table.tableblock > tfoot th {
  font-size: inherit;
}
