
/* All UI macros instances have the `ui` class */
.doc p code.ui {
  font-family: "NHaasGrotesk-medium", sans-serif;
  font-weight: 400;
  font-size: 1em;
  background-color: var(--color-white);
  padding: 0;
}

.doc b.button,
.doc b.menu {
  font-family: "NHaasGrotesk-medium", sans-serif;
  font-weight: 400;
}
